

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=sap_db
      - POSTGRES_USER=sap_user
      - POSTGRES_PASSWORD=secret_password
    ports:
      - "5432:5432"

volumes:
  postgres_data: